:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 59 130 246;
  --oui-color-primary-light: 96 165 250;
  --oui-color-primary-darken: 37 99 235;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 96 165 250;
  --oui-color-link-light: 147 197 253;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 148 163 184;
  --oui-color-quaternary: 148 163 184;

  --oui-color-danger: 239 68 68;
  --oui-color-danger-light: 252 165 165;
  --oui-color-danger-darken: 220 38 38;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 197 94;
  --oui-color-success-light: 134 239 172;
  --oui-color-success-darken: 22 163 74;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 251 146 60;
  --oui-color-warning-light: 253 186 116;
  --oui-color-warning-darken: 249 115 22;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 15 23 42;
  --oui-color-fill-active: 30 41 59;

  --oui-color-base-1: 148 163 184;
  --oui-color-base-2: 107 114 128;
  --oui-color-base-3: 75 85 99;
  --oui-color-base-4: 55 65 81;
  --oui-color-base-5: 45 55 72;
  --oui-color-base-6: 31 41 55;
  --oui-color-base-7: 15 23 42;
  --oui-color-base-8: 10 14 39;
  --oui-color-base-9: 10 12 16;
  --oui-color-base-10: 3 7 18;

  --oui-color-base-foreground: 248 250 252;
  --oui-color-line: 33 41 54;

  --oui-color-trading-loss: 239 68 68;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 197 94;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 59 130 246;
  --oui-gradient-primary-end: 37 99 235;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 59 130 246;
  --oui-gradient-brand-end: 59 130 246;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 90deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}

.oui-text-\[rgba\(0\,0\,0\,0\.88\)\],.oui-text-\[rgba\(0\,0\,0\,\.88\)\] {
    color: #ffffff
}